.projects{
    padding:0 4.55vw;
    margin-top: 94px;
    padding-top: 110px;

    .con{
        font-weight: 500;
        font-size: 20px;
        color: #0C96E2;
    }

    .creative{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        .discusss{
            max-width: 407.0512px;
            font-weight: 600;
            font-size: 2.5rem;
            /* color: #1D2130; */
            .project{
                color: #0C96E2;
            }
        }
        .git{
            text-decoration: none;
            .view{
                display: flex;
                align-items: center;
                background-color: #0C96E2;
                border: none;
                border-radius: 8px;
                color: #FFFFFF;
                padding: 11px 1.367vw;
                cursor: pointer;
            }
        }
        

    }


}

@media screen and (max-width:992px) {
    html{
        font-size: 10px;
    }
    .projects{
        margin-top: 0;
        .creative{
            gap: 20px;
            
            
        }
    }




    
}