.containergirl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

@media screen and (max-width:992px) {
    .containergirl{
        overflow-x: scroll;
        justify-content: flex-start;
    }
    
    
}

