.cardproject{
    max-width: 416.0468px;
    .image-project{
        width: 100%;
        height: 238.3050px;
        border-radius: 10px;
        transition: 0.3s  ease-in-out;
    }
    .image-project:hover{
        transform: scale(1.1);
    }

    .project-name{
        .title-project{
            font-weight: 600;
            font-size: 1.375rem;
            margin-top: 32px;
            margin-bottom: 11px;
        }
        .framework{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .html{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}


@media screen and (max-width:992px) {
    html{
        font-size: 10px;
    }
    .cardproject{
        .project-name{
            .framework{
                .arow{
                    width: 30px;
                }
            }
        }
    }   
}