.footer{
    padding:0 4.55vw;

    .m{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
        border-top: 1px solid #BEC0BF;
        padding-bottom: 40px;

        .right,.dev{
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            /* color: #1D2130; */
        }
        .soicalmedia{
            display: flex;
            align-items: center;
            gap: 17px;
            
        }

    }



}


@media screen and (max-width:992px) {
    .m{
        flex-direction: column;
        gap: 20px;
    }


    
}