.exp{
    display: flex;
    gap: 47px;
    margin-bottom: 30px;
    .front{
        .name{
            font-weight: 500;
            font-size: 1.5625rem;
            margin-bottom: 12px;
        }
        .lorem{
            max-width: 444px;
            font-weight: 400;
            font-size: 1rem;
            color: #98A2B3;
        }
        .child1{
            margin-bottom: 37px;
        } 
    }
}

@media screen and (max-width:992px){
    html{
        font-size: 10px;
    }
    .exp{
        gap: 25px;
        .line{
            height: 31.45vh;
        }
    }
}